.p-Menu.Flex341 {
display: flex;
padding-left: ;
padding-top: 10px;
padding-right: ;
padding-bottom: 100px;
flex-direction: column;
row-gap: 10px;
}
.p-Menu.Flex342 {
display: flex;
flex-direction: column;
row-gap: 10px;
align-items: center;
justify-content: center;
padding-top: 70px;
}
.p-Menu.Flex343 {
display: flex;
column-gap: 20px;
padding-top: 25px;
align-items: center;
justify-content: center;
}
.p-Menu.Flex352 {
display: flex;
padding-left: 50px;
padding-right: 50px;
margin-bottom: ;
column-gap: 20px;
background-color: #ffffff;
}
.p-Menu.Flex348 {
display: flex;
}
.p-Menu.Flex344 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div31 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex349 {
display: flex;
}
.p-Menu.Flex345 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div32 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex350 {
display: flex;
}
.p-Menu.Flex346 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div33 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex351 {
display: flex;
}
.p-Menu.Flex347 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div34 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex361 {
display: flex;
padding-left: 50px;
padding-right: 50px;
margin-bottom: ;
column-gap: 20px;
padding-bottom: 30px;
background-color: #ffffff;
}
.p-Menu.Flex357 {
display: flex;
}
.p-Menu.Flex353 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div35 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex358 {
display: flex;
}
.p-Menu.Flex354 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div36 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex359 {
display: flex;
}
.p-Menu.Flex355 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div37 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex360 {
display: flex;
}
.p-Menu.Flex356 {
display: flex;
flex-direction: column;
border-radius: 35px;
width: ;
height: 402px;
row-gap: ;
}
.p-Menu.Div38 {
position: relative;
left: 130px;
top: 55px;
width: 102px;
height: 41px;
background-color: #ffffff;
border-radius: 15px;
border-style: none;
align-self: auto;
}
.p-Menu.Flex362 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}
.p-Menu.Flex364 {
display: flex;
padding-left: 100px;
padding-right: 100px;
flex-direction: column;
row-gap: 20px;
}
.p-Menu.Flex365 {
display: flex;
column-gap: 25px;
align-items: center;
justify-content: center;
}
.p-Menu.Flex367 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
align-self: center;
align-items: center;
justify-content: center;
}
.p-Menu.Flex368 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex369 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex371 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex366 {
display: flex;
column-gap: 25px;
justify-content: center;
align-items: center;
}
.p-Menu.Flex372 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex373 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex374 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 159px;
justify-content: center;
}
.p-Menu.Flex377 {
display: flex;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
padding-right: 20px;
border-radius: 10px;
border-color: #d1d1d1;
border-style: solid;
row-gap: 150px;
width: 150px;
justify-content: center;
}
.p-Menu.Flex497 {
display: flex;
background-color: #ffffff;
padding-left: ;
padding-right: ;
justify-content: space-between;
align-items: center;
align-self: auto;
}
.p-Menu.Flex496 {
display: flex;
justify-content: space-between;
padding-left: 150px;
padding-right: 150px;
column-gap: 40px;
margin-top: ;
margin-bottom: ;
font-family: DM Sans;
height: ;
width: ;
align-items: stretch;
padding-top: 100px;
padding-bottom: 50px;
}
.p-Menu.Flex495 {
display: flex;
flex-direction: column;
justify-content: flex-start;
row-gap: 13px;
width: 50%;
}
.p-Menu.Flex492 {
display: flex;
justify-content: flex-start;
column-gap: 10px;
}
.p-Menu.Div65 {
width: ;
}
.p-Menu.Div64 {
;
}
.p-Menu.Div63 {
;
}
.p-Menu.Flex489 {
display: flex;
}
.p-Menu.Flex487 {
display: flex;
flex-direction: column;
text-align: center;
width: 105px;
height: 263px;
}
.p-Menu.Flex488 {
display: flex;
}
.p-Menu.Flex486 {
display: flex;
flex-direction: column;
text-align: center;
width: 105px;
height: 263px;
}
.p-Menu.Div66 {
width: 40%;
height: ;
align-self: center;
}
.p-Menu.Flex493 {
display: flex;
width: 310px;
}
.p-Menu.Flex494 {
display: flex;
flex-direction: column;
row-gap: 20px;
width: 310px;
height: 356px;
}
.p-Menu.Flex490 {
display: flex;
flex-direction: row;
row-gap: 20px;
column-gap: 20px;
}
.p-Menu.Flex491 {
display: flex;
flex-direction: row;
column-gap: 20px;
}
.p-Menu.Flex418 {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 80px;
padding-right: 80px;
padding-top: 40px;
margin-bottom: 40px;
font-family: DM Sans;
}
.p-Menu.Flex416 {
display: flex;
justify-content: space-between;
row-gap: ;
column-gap: 30px;
align-items: center;
}
.p-Menu.Flex417 {
display: flex;
justify-content: flex-start;
}
.p-Menu.TextBox235 {
font-size: 16px;
font-family: DM Sans;
font-weight: 500;
width: 50%;
}
.p-Menu.TextBox236 {
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
}
.p-Menu.Button34 {
color: #fff;
background-color: #FF7629;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 15px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: ;
cursor: pointer;
user-select: none;
}
.p-Menu.Button35 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button36 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button37 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.Button39 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 25px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #d7d7d7;
cursor: pointer;
user-select: none;
font-family: DM Sans;
}
.p-Menu.TextBox246 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox247 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.Image121 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox242 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox248 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox249 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.Image122 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox243 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox250 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox251 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.Image123 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox244 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox252 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox253 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.Image124 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox245 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image125 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox258 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.TextBox259 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox254 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image126 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox260 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.TextBox261 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox255 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image127 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox262 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.TextBox263 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox256 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.Image128 {
width: 250px;
height: 250px;
border-radius: 30px;
}
.p-Menu.TextBox264 {
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #686868;
padding-top: 20px;
padding-left: 20px;
padding-right: 10px;
text-align: center;
}
.p-Menu.TextBox265 {
font-family: DM Sans;
font-weight: 700;
font-size: 24px;
padding-left: 20px;
padding-right: 10px;
padding-top: 10px;
text-align: center;
}
.p-Menu.TextBox257 {
align-self: center;
padding-top: 10px;
padding-left: 8px;
font-size: 16px;
font-family: DM Sans;
font-weight: 700;
}
.p-Menu.TextBox266 {
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
}
.p-Menu.TextBox267 {
font-size: 14px;
font-family: DM Sans;
font-weight: 500;
width: 50%;
padding-bottom: 20px;
}
.p-Menu.Image129 {
width: 130px;
height: 30px;
}
.p-Menu.Image130 {
width: 130px;
border-radius: ;
height: 30px;
}
.p-Menu.Image131 {
width: 130px;
height: 30px;
}
.p-Menu.Image133 {
width: 130px;
height: 30px;
}
.p-Menu.Image134 {
width: 130px;
height: 30px;
}
.p-Menu.Image135 {
width: 130px;
height: 30px;
}
.p-Menu.Image136 {
width: 130px;
height: 30px;
}
.p-Menu.Image139 {
width: 130px;
height: 30px;
}
.p-Menu.TextBox450 {
color: #6a6868;
font-family: DM Sans;
font-size: ;
padding-top: 10px;
padding-bottom: 10px;
}
.p-Menu.Image219 {
width: 244px;
height: 33px;
}
.p-Menu.Image214 {
width: 30px;
height: 30px;
}
.p-Menu.Image215 {
width: 30px;
height: 30px;
}
.p-Menu.Image216 {
width: 30px;
height: 30px;
}
.p-Menu.Image217 {
width: 30px;
height: 30px;
}
.p-Menu.Image218 {
width: 30px;
height: 30px;
}
.p-Menu.TextBox441 {
font-size: 20px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.TextBox442 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox443 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox444 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox445 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox446 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox447 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox448 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox433 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox434 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox435 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox436 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox437 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox438 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox439 {
padding-top: 3px;
padding-bottom: 3px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 16px;
color: #7f7c7c;
}
.p-Menu.TextBox440 {
font-size: 20px;
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
}
.p-Menu.TextBox449 {
padding-bottom: 20px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
}
.p-Menu.Image210 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image211 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image212 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Image213 {
width: 145px;
height: 145px;
border-radius: 25px;
}
.p-Menu.Button59 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 15px;
border-radius: 20px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 2px;
border-style: solid;
border-color: ;
cursor: pointer;
user-select: none;
align-self: center;
outline-color: #838383;
outline-width: 3px;
font-family: DM Sans;
}
.p-Menu.Button60 {
color: #fff;
background-color: #FF7629;
padding-top: 10px;
padding-left: 25px;
padding-bottom: 10px;
padding-right: 25px;
font-size: 15px;
border-radius: 20px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: transparent;
cursor: pointer;
user-select: none;
align-self: center;
box-sizing: content-box;
font-family: DM Sans;
}
.p-Menu.Image153 {
padding-right: 10px;
padding-left: 10px;
}
.p-Menu.TextBox338 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
font-family: DM Sans;
font-size: 18px;
font-weight: 500;
color: #696969;
cursor: pointer;
}
.p-Menu.TextBox339 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
cursor: pointer;
}
.p-Menu.TextBox340 {
padding-left: 15px;
padding-right: 15px;
align-self: center;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
cursor: pointer;
}
.p-Menu.TextBox341 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
font-family: DM Sans;
font-weight: 500;
font-size: 18px;
color: #696969;
cursor: pointer;
}
.p-Menu.TextBox342 {
padding-left: 15px;
padding-right: 15px;
align-self: center;
font-size: 18px;
font-family: DM Sans;
font-weight: 500;
color: #696969;
cursor: pointer;
}
